extends layout

block content
  #wrap
    form(action='/', method='post', autocomplete='on')
      input#search(name='userInput', type='text', placeholder="Your next Home")
      input#search_submit(value='Search', type='submit')
    ul.cb-slideshow
      li
        span Image 01
      li
        span Image 02
      li
        span Image 03
      li
        span Image 04
      li
        span Image 05
      li
        span Image 06
