extends layout

block content
  #wrap  
    ul.cb-slideshow
      li
        span Image 01
      li
        span Image 02
      li
        span Image 03
      li
        span Image 04
      li
        span Image 05
      li
        span Image 06

  form.search(action='/', method='post')
    .text-input
      input#input1(name='userInput', type='text', placeholder='You Next Home Begins Here...')
      label(for='input1') Address
      a.signin(href='/register') Register
