doctype html
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/landing.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css', rel='stylesheet')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/search.css')

    script(src='https://code.jquery.com/jquery-2.2.3.js')
    script(src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js')
    script(src='javascripts/modernizr.custom.86080.js')
    script(src='javascripts/touchSwipe.min.js')
    script(src='javascripts/easing.js')
    script(src='javascripts/foundation.min.js')
    script(src='javascripts/foundation/foundation.topbar.js')
    script(src='javascripts/scrollTo.js')
    script(src='//d3js.org/d3.v3.min.js')
    script(src='javascripts/main.js')
  body
    block content
