extends layout

block content
  img.bg(src='images/register.jpg', alt='register')

  div
    each error in errors
      p= error

  .row
    .large-6.columns
      .register-container
        form.signup-form(action='../register/signup', method='post')
          .text-input-register
            input#input1(name='full_name', type='text', placeholder='Henry', value=validInputs.full_name, required)
            label(for='input1') Name
          .text-input-register
            input#input2(name='email', type='text', placeholder='henry@yolo.com', value=validInputs.email, required)
            label(for='input2') Email
          .text-input-register
            input#input3(name='password', type='text', placeholder='', required)
            label(for='input3') Password

          input.submit(value='Register', type='submit')

    .large-6.columns
      .register-container
        form.signin-form(action='../register/signin', method='post')
          .text-input-register
            input#input4(name='full_name', type='text', placeholder='Henry', required)
            label(for='input4') Name
          .text-input-register
            input#input6(name='password', type='text', placeholder='', required)
            label(for='input6') Password

          input.submit2(value='Sign In', type='submit')

          p.or ----------------------------  or  ----------------------------

          a(href='../../auth/google').google_button Google Sign In
