/*



    *****************************************


    - Fonts
    - Reset Default Foundation Styling
    - Landing
    - Header
    - Scores
    - Fancy Button
    - Quote
    - Testimonials
    - Call To Action
    - Google Map
    - Footer
    - Responsive CSS

*/

/*		Fonts		*/

@font-face {
    font-family: 'lato-black';
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/lato-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black.woff') format('woff'),
         url('../fonts/lato-black.ttf') format('truetype'),
         url('../fonts/lato-black.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light.woff') format('woff'),
         url('../fonts/lato-light.ttf') format('truetype'),
         url('../fonts/lato-light.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-hairline';
    src: url('../fonts/lato-hairline.eot');
    src: url('../fonts/lato-hairline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline.woff') format('woff'),
         url('../fonts/lato-hairline.ttf') format('truetype'),
         url('../fonts/lato-hairline.svg#LatoHairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#RalewayBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway-light.eot');
    src: url('../fonts/raleway-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light.woff') format('woff'),
         url('../fonts/raleway-light.ttf') format('truetype'),
         url('../fonts/raleway-light.svg#RalewayLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#RalewayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#RalewaySemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.row{
	max-width:1140px;
	padding: 0 20px;
}

.top-bar .toggle-topbar.menu-icon a span::after{
  top: 25px;
	right: 0;
}

.top-bar .toggle-topbar.menu-icon a{
  padding-top: 8px;
  padding-right: 25px;
}


.top-bar,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section ul li,
.top-bar.expanded .title-area,
.no-js .top-bar-section ul li:hover > a{
	background: transparent;
	height: auto;
	line-height:normal;
	padding: 0;
}


.top-bar .name,
.top-bar .name h1,
.top-bar .name h2,
.top-bar .name h3,
.top-bar .name h4,
.top-bar .name span,
.top-bar .name p{
	line-height: normal;
	height: auto;
	font-size: 1.375rem;
}


.top-bar.expanded .toggle-topbar a{
	color: #55adb6;
}

.top-bar.expanded .toggle-topbar a span::after {
  box-shadow: 0 0 0 1px #55adb6, 0 7px 0 1px #55adb6, 0 14px 0 1px #55adb6;
}

.main{
	width: 100%;
	height: 750px;
	background: url('../images/s1.jpg') no-repeat 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	   background-size: cover;
}

.main .caption{
	margin-top: 100px;
}

h1.logo-name{
	font-family: "lato-light", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	line-height: 70px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
}

span.logo-sub {
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	color: #55adb6;
}

span.neighbor{
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  color: #E96956;
}

span.good{
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  color: #55adb6;
}

span.with{
  color: white;
}

.main .caption .btn_details span.peach {
  font-size: 24px;
  color: #55adb6;
}

h1.mean_cap {
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	line-height: 60px;
}


h2.sub_cap{
  color: #fff;
	font-family: "lato-light", Helvetica, Arial, sans-serif;
	font-weight: lighter;
  text-transform: uppercase;
  line-height: 70px;
	font-size: 60px;
	margin-bottom: 50px;
}

h2.sub_cap_sec{
	font-family: "lato-light", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 60px;
	color: #55adb6;
	text-transform: uppercase;
	line-height: 70px;
	margin-bottom: 50px;
}

h2.sub_cap_third{
	font-family: "lato-light", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 60px;
	color: #E96956;
	text-transform: uppercase;
	line-height: 70px;
	margin-bottom: 50px;
}

h3.sub_cap{
	font-family: "lato-light", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	line-height: 50px;
  margin-right: 100px;
  display: inline;
}

h3.sub_cap_sec{
	font-family: "lato-light", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: #55adb6;
	text-transform: uppercase;
	line-height: 50px;
  margin-top: 200px;
  display: inline;
}

h2.reg {
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  line-height: 70px;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}

h2.sign {
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  line-height: 70px;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.main .caption .btn_details span{
	display: inline-block;
	color: #fff;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: .5px;
	position: relative;
	margin-right: 5px;
	border-bottom: 1px dashed #ffffff;
	padding-bottom: 3px;
}

.main .caption .btn_details .arrow{
	-webkit-transition:all .2s ease-out;
	     -o-transition:all .2s ease-out;
	        transition:all .2s ease-out;
}

.main .caption .btn_details:hover .arrow{
	-webkit-transform:translateX(3px);
	    -ms-transform:translateX(3px);
	     -o-transform:translateX(3px);
	        transform:translateX(3px);
}


/*    Header    */

header{
	width: 100%;
	height: 130px;
	background: transparent;
}

.logo h1{
	text-decoration: none;
	color: #ffffff;
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.logo h1 .tld{
	font-family: "lato-hairline", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
}

header .logo{
	margin: 50px 0 0 0;
}

header .top-bar-section ul li a{
	color: #ffffff;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 30px;
	letter-spacing: .5px;
}


header .top-bar-section ul li:last-child a{
	margin-right: 0;
}


header .top-bar-section li:not(.has-form) a:not(.button){
	-webkit-transition:all .2s linear;
	     -o-transition:all .2s linear;
	        transition:all .2s linear;
}

header .top-bar-section li:not(.has-form) a:not(.button):hover{
	color: #55adb6;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/*    scores    */

.main-nav{
  list-style: none;
  background-color: rgba(100, 100, 100, 0.6);
  width: 100%;
  height: 38px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  padding: 10px;
}

.main-nav-log{
  list-style: none;
  background-color: rgba(240, 100, 100, 0.8);
  width: 20%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

header .top-bar-section ul li a.save_button, header .top-bar-section ul li a.prof, header .top-bar-section ul li a.signout {
  color: #E96956;
}

header .top-bar-section ul li a.register {
  color: #55adb6;
}

header .top-bar-section ul li a.search_again {
  color: #55adb6;
}

.render-success{
  position: fixed;
  display: none;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 6%;
  padding: 5%;
  background-color: #55adb6;
  opacity: .9;
  z-index: 99999;
}

.scores{
	padding: 40px 0 120px 0;
}

.mean_title,
.sub_title{
	text-align: center;
	color: #454545;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
}


.mean_title{
	font-size: 30px;
	font-family: "raleway-bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.mean_title_score{
  margin-top: -30px;
  margin-bottom: -70px;
	font-size: 90px;
  color: #E96956;
	font-family: "raleway-bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.sub_title{
	font-size: 22px;
	font-family: "raleway-light", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	text-transform: lowercase;
}

.scores .scores_list{
	margin-top: 80px;	text-align: center;
}

.scores .scores_list .serv_icon{
	width: 50%;
  margin-top: -30px;
}

p{
	color: #454545;
	font-family: "raleway-regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
}

.title{
	color: #454545;
	font-family: "raleway-bold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px
}

.user-info{
  margin-top: 80px;
}
.user-table{
  text-align: center;
  font-family: "raleway-bold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.user-table th{
  font-size: 16px;
  color: white;
  font-weight: light;
}

.score-num{
  text-align: center;
  color:#E96956;
  font-size: 26px;
}
.trans8{
  background-color: #55adb6;
  color: white;
}

.reg{
  margin: 0;
  font-family: "raleway-bold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.btn_holder{
	text-align: center;
}

.scores .btn_fancy{
	margin-top: 100px;
}

.alert-message{
  color: red;
  font-size: 18px;
}

p.font-large-prime{
  font-family: "raleway-light", Helvetica, Arial, sans-serif;
  color: #55adb6;
  font-size: 21px;
  text-align: justify;
}

p.font-large-white{
  font-family: "raleway-light", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 21px;
  text-align: justify;
}

/*    Fancy Button    */

.btn_fancy{
	display: inline-block;
	position: relative;
	text-align: center;
	color: #454545;
	font-family: "raleway-bold", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 16px 36px;
	border-radius: 2px;
	background: transparent;
	-webkit-transition:all .2s ease-out;
	     -o-transition:all .2s ease-out;
	        transition:all .2s ease-out;
}

.btn_fancy .text_layer{
	position: relative;
}

.btn_fancy:hover,
.btn_fancy:focus{
	color: #454545;
}


.btn_fancy .border_layer{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px dashed #000000;
	-webkit-transition:all .2s ease-out;
	     -o-transition:all .2s ease-out;
	        transition:all .2s ease-out;
}

.btn_fancy .solid_layer{
	position: absolute;
	top: 4px;
	left: -4px;
	width: 100%;
	height: 100%;
	background: #55adb6;
	border-radius: 2px;
	-webkit-transition:all .2s ease-out;
	     -o-transition:all .2s ease-out;
	        transition:all .2s ease-out;
}

.btn_fancy:hover .border_layer{
	-webkit-transform:translate(2px,-2px);
	    -ms-transform:translate(2px,-2px);
	     -o-transform:translate(2px,-2px);
	        transform:translate(2px,-2px);
}
.btn_fancy:hover .solid_layer{
	-webkit-transform:translate(-2px,2px);
	    -ms-transform:translate(-2px,2px);
	     -o-transform:translate(-2px,2px);
	        transform:translate(-2px,2px);
}

nav.menu-ui{
  position: absolute;
  left: 30px;
  top: 400px;
}

nav.menu-ui a{
  font-family: "raleway-regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background: #55adb6;
  opacity: 0.8;
  color: white;
  border-radius: 0;
  border-style: none;
}

nav.menu-ui a:hover{
  background: #E96956;
}

.cube{
  background: #55adb6;
  height: 200px;
  background: url('/images/cube.png') repeat;
  opacity: 0.3;
}

.break{
  background: #E96956;
  height: 200px;
  opacity: .4;
}

.community{
  height: 750px;
  width: 100%;
  background-color: #55adb6;
  z-index: 5;
  position: relative;
}

#community_map {
  width: 100%;
  height: 750px;
  position: relative;
}
.community_sub{
  width:100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

.accessibility{
  height: 750px;
  width: 100%;
  background-color: white;
  position: relative;
}

#accessibility_map {
  width: 100%;
  height: 750px;
}
.accessibility_sub{
  width:100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

.environment{
  height: 750px;
  width: 100%;
  background-color: #E96956;
  position: relative;
}

#environment_map {
  width: 100%;
  height: 750px;
  position: relative;
}

.environment_sub{
  width:100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

.safety{
  height: 900px;
  width: 100%;
  background: url('/images/cube.png') repeat;
  position: relative;
}

.crime_graph{
  width: 1000px;
  height: 700px;
  clear: both;
  margin-bottom: 10px;
}

.tooltip {
  display: block;
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 1px solid white;
  background: #55adb6;
	opacity: 0;
  color: white;
	padding: 10px;
	width: 200px;
	font-size: 12px;
	z-index: 1;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.safety_sub{
  width:100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }

.menu-ui a {
  font-size:13px;
  color:#404040;
  display:block;
  margin:0;padding:0;
  padding:10px;
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  text-align:center;
  }

.menu-ui a:first-child {
  border-radius:3px 3px 0 0;
  }

.menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
  }

.menu-ui a:hover {
  background:#f8f8f8;
  color:#404040;
  }

.menu-ui a.active,
.menu-ui a.active:hover {
  background:#3887BE;
  color:#FFF;
  }

#breezLogo {
    width: 170px;
    float: left;
    margin-left: -50px;
    margin-right: -30px;
  }

#walkScoreLogo {
  width: 150px;
  float: left;
  padding-right: 10px;
  padding-top: 2px;
}

/*  Back To Top button  */

#back_top{
	text-decoration: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	opacity: 0;
}

.btn_fancy#back_top{
	padding: 6px 16px;
}

.btn_fancy#back_top:hover .border_layer{
	-webkit-transform:translate(1px,-1px);
	    -ms-transform:translate(1px,-1px);
	     -o-transform:translate(1px,-1px);
	        transform:translate(1px,-1px);
}
.btn_fancy#back_top:hover .solid_layer{
	-webkit-transform:translate(-1px,1px);
	    -ms-transform:translate(-1px,1px);
	     -o-transform:translate(-1px,1px);
	        transform:translate(-1px,1px);
}

@media only screen and (max-width: 1110px){
  .main-nav{
    height: 62px;
  }

  header .top-bar-section li:not(.has-form) a:not(.button) {
    padding-bottom: 8px;
  }

  nav.menu-ui {
    top: 50px;
  }
}

@media only screen and (max-width: 1025px){
  .community{
    height: 1050px;
  }

  #community_map {
    height: 500px;
  }
  .community_sub{

  }
  .accessibility{
    height: 1050px;
  }

  #accessibility_map {
    height: 500px;
  }
  .accessibility_sub{
  }

  .environment{
    height: 1050px;
  }

  #environment_map {
    height: 500px;
  }

  .environment_sub{
  }

  .safety{
    height: 1050px;
  }

  .safety_sub{
  }

  p.font-large-white, p.font-large-prime {
    font-size: 16px;
  }

  h2.sub_cap, h2.sub_cap_sec{
    font-size: 40px;
  }

}

/*    Responsive CSS    */

@media only screen and (max-width: 40em){
  .cube{
    display: none;
  }

  p.font-large-white, p.font-large-prime {
    font-size: 16px;
  }

  h2.sub_cap, h2.sub_cap_sec{
    font-size: 40px;
  }
	.top-bar .top-bar-section{
		display: none;
	}

	.top-bar.expanded .top-bar-section{
		display: block;
	}

	.top-bar-section ul{
		margin-top: 70px;
		background: #ffffff;
	}

	.top-bar-section li:not(.has-form) a:not(.button){
	  color: #454545;
	  margin: 0;
	  display: block;
	  text-align: center;
	  padding: 20px 0;
	  background: #ffffff;
	  border-bottom: 1px solid #fff4d7;
	  -webkit-transition: all .2s linear;
	       -o-transition: all .2s linear;
	          transition: all .2s linear;
	}

	header .top-bar-section li:not(.has-form):last-child a:not(.button){
		border: 0;
	}

	header .top-bar-section li:not(.has-form) a:not(.button):hover{
		color: #454545;
		background: #55adb6;
		padding: 20px 0;
	}


	.main .caption h1.mean_cap,
	.main .caption h2.sub_cap{
		font-size: 45px;
		line-height: 45px;
	}

@media only screen and (min-width: 64.063em) {
	#back_top{
		right: 40px;
		bottom: 40px;
		margin-top: -22px;
	}
}
