extends ../layout

block content

  form(action='/users', method='post')
    p
      input(name='user_name', type='text', placeholder='New Username')
    p
      input(name='email', type='text', placeholder='New Email')
    p
      input(name='password', type='password', placeholder='New Password')
    p
      input(value='Submit', type='submit')
