extends ../layout

block content

<<<<<<< HEAD
  form(action='/', method='post')
=======
  form(action='/users', method='post')
>>>>>>> 585a40a43069d511fef0ac4fe26ba56c2ade3c8e
    p
      input(name='userName', type='text', placeholder='Username')
    p
      input(name='userPassword', type='password', placeholder='Password')
    p
      input(value='Submit', type='submit')
